.container__menu-title > h1 {
    margin: 10px 0;
    font-size: 7rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.container__menu-title > hr {
    margin: 20px 0;
}