.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container__content > a {
    cursor: pointer;
}

.content__cover {

}

.content__cover > img {
    width: 700px;
    height: 350px;
    min-width: 700px;
    min-height: 350px;
    border: 5px solid gray;
    border-radius: 5px;
}

.content__title {
    margin: 20px 0;
}

.content__description {
    padding: 0 80px;
    margin-bottom: 40px;
}

.content__description > p {
    color: rgb(192, 192, 192);
    text-align: justify;
}