<div class="container__content">
    <a [routerLink]="['']"> < Voltar </a>
    <div class="content__cover">
        <img 
        src="https://github.githubassets.com/images/modules/explore/social.jpg"
        />
    </div>
    <div class="content__title">
        <h1>Título</h1>
        <hr/>
    </div>
    <div class="content__description">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Minus, dolor quisquam, omnis ab quos officia assumenda consectetur 
            ea commodi ullam, ut hic illo architecto repellendus voluptatibus 
            pariatur a atque deleniti.
        </p>
    </div>
</div>