<app-menu-title></app-menu-title>


<div class="articles">
    <div class="articles__main" *ngIf="news[0]">
        <app-big-card 
            id="{{news[0].id}}"
            photoCover="{{news[0].photo}}" 
            cardTitle="{{news[0].title}}" 
            cardDescription="{{news[0].description}}">
        </app-big-card>
    </div>
    <div class="articles__others">
        <div *ngFor="let n of news.slice(1)">
            <app-small-card 
                id="{{n.id}}"
                photoCover="{{n.photo}}"
                cardTitle="{{n.title}}"
                cardDescription="{{n.description}}">
            </app-small-card>
        </div>
    </div>
</div>