.articles {
    display: flex;
    align-items: top;
    justify-content: center;
}

.articles__main, .articles__others {
    width: 40%;
    padding: 0 1rem;
}

.articles__main {
    margin-right: 5%;
}